<div class="box">
    <form action="/contact" method="POST">

        <h2>Contact</h2>
        <div class="input-Bx">
            <input type="text" name="name" required>
            <span>Full name</span>
            <i></i>
        </div>
        <div class="input-Bx">
            <input type="Email" name="email" required>
            <span>Email</span>
            <i></i>
        </div>
        <div class="input-Bx">
            <input type="Phone" name="phone" required>
            <span>Phone</span>
            <i></i>
        </div>
        <div class="input-Bx">
            <input type="Subject" name="subject" required>
            <span>Subject</span>
            <i></i>
        </div>
        <br>
        <input type="submit" value="Send Message">
    </form>
</div>