<div class="container">
    <h1>Contact Us</h1>
    <form action="" class="contact-form">
        <input type="fullName" placeholder="FullName"/>
        <input type="email" placeholder="email"/>
        <textarea name="message" id="message"></textarea>
        <button>submit</button>

    </form>
</div>